/* 0. IMPORT */

@import 'palette';
@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu&subset=latin-ext');

/* 1. MIXINS */

@mixin anchor-color($val) {
    a, a:hover {
        color: $val;
        text-decoration: none;
    }
}

@mixin border-radius-all($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* Center everything horizontally and vertically */
@mixin flexbox-center-hor-ver() {
    align-items: center;
    justify-content: center;
}

@mixin flexbox-direction($val) {
    flex-direction: $val;
}

@mixin flexbox-container($child) {
    @include flexbox();
    @include flexbox-direction(row);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;

    #{$child} {
        flex-basis: auto;
        flex-grow: 1;
    }
}

/* 2. VARIABLES */

$font: 'Lato', sans-serif;
$font-size: 16px;
$red: #F32328;

/* 3. SELECTORS */

html {
    font-size: $font-size;
}

body {
    font-family: $font;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    @include flexbox();
    @include flexbox-direction(column);

    article {
        border-bottom: 2px solid $accent-color;
        margin-bottom: 20px;
        padding-bottom: 20px;

        &:last-of-type {
            border-bottom: none;
        }

        img {
            margin: 20px 0;
        }
    }
}

footer {
    background-color: $primary-color-dark;
    color: $primary-color-text;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    #cookies {
        font-size: 10px;
        line-height: 20px;
    }

    #copy {
        @include anchor-color($primary-color-text);

        font-size: 15px;
        line-height: 15px;
    }
}

#kontakt form, .form form {
    background-color: rgba($accent-color, 0.5);
    color: $primary-text-color;
    padding: 20px;
    margin: 0 auto;

    label, input, textarea {
        display: block;
        font-family: 'Open Sans', sans-serif;
    }

    label {
        padding: 0 0 5px 10px;
    }

    input, textarea {
        border-top: none;
        border-bottom: 2px solid $primary-text-color;
        border-left: none;
        border-right: none;
        background: rgba(0, 0, 0, 0.05);
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 10px;
        outline: none;
        padding: 10px;
        width: 100%;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;

        &:focus {
            border-bottom: 2px solid $accent-color;
        }
    }

    textarea {
        resize: none;
    }
}

#kontakt #messages, .form #messages {
    .message {
        padding: 20px;
        display: none;
    }

    #error {
        background-color: $red;
    }

    #success {
        background-color: $accent-color;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 25px;

        small {
            color: inherit;
        }
    }
}

/* 4. CLASSES */

.navbar {
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 0;

    &.navbar-default {
        background-color: $primary-color-dark;
        margin-bottom: 0;

        .navbar-brand {
            color: $primary-color-text;
            cursor: default;
        }

        .navbar-toggle {
            border: 1px solid $divider-color;

            .icon-bar {
                background-color: $primary-color-text;
            }

            &:hover {
                background-color: $divider-color;
            }
        }

        .navbar-nav {
            > li {
                @include anchor-color($primary-color-text);
            }
        }
    }
}

.page-header {
    margin: 0;

    h1 {
        margin-bottom: 20px;
    }

    &.image-header {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 20px;
    }

    &.page {
        margin-bottom: 20px;
    }
}

.form {
    min-height: 50vh;
}

.widget-section {
    @include flexbox();
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget {
    margin-bottom: 20px;
}

.portfolio-container {
    @include flexbox();
    @include flexbox-direction(row);

    flex-wrap: wrap;
    justify-content: space-around;

    article {
        border: 2px solid $accent-color;
        margin: 10px;
        padding: 10px;

        img {
            margin-top: 0;
        }

        &:last-of-type {
            border-bottom: 2px solid $accent-color;
        }
    }
}

.container {
    flex: 1;
}

.section {
    background-color: $primary-color;
    min-height: calc(100vh - 50px);
    padding: 50px 0;
    color: $primary-color-text;
}

.parallax {
    @include flexbox();
    @include flexbox-center-hor-ver();
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: inherit;
    width: 100%;
}

.center-ver {
    @include flexbox();
    @include flexbox-center-hor-ver();
}

.portfolio-item {
    background-color: $divider-color;
    margin-bottom: 30px;
    padding: 10px;

    @include anchor-color($primary-text-color);

    img {
        width: 100%;
    }
}

.blue-frame {
    color: $primary-color-text;
    background-color: rgba($primary-color, 0.5);
    overflow: hidden;
    padding: 20px;
}

.flexbox-container {
    @include flexbox-container(a);
}

.modal {
    color: $primary-text-color;
    padding: 0 !important;
}

.modal-dialog {
    margin: 0;
    width: 100%;
}

.modal-content {
    border: none;
    border-radius: 0;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 20px;
    position: relative;

    img {
        border: 1px solid $accent-color;
        margin-bottom: 20px;
    }

    .buttons {
        margin-top: 20px;
    }
}

.modal-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 5. IDs */

#top .parallax {
    background-image: url('../img/triangle.jpg');
    @include flexbox-direction(column);

    img {
        @include border-radius-all(50%);
        border: 5px solid $accent-color;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
}

#o-mnie {
    @include flexbox();
    @include flexbox-center-hor-ver();

    line-height: 1.25rem;

    ul li {
        margin-bottom: 1.5rem;
    }

    a {
        color: $primary-color-text;
        margin: 5px 25px;
        text-decoration: none;
    }

    i {
        transition: all 0.75s;

        &:hover {
            color: $primary-text-color;
            transform: scale(1.25);
        }
    }

    i + small {
        display: block;
        margin-top: 10px;
    }
}

#portfolio {
    .parallax {
        @include flexbox-direction(column);
    }
}

#wspolpraca .parallax {
    background-image: url('../img/wspolpraca.jpg');
}

#skill .parallax {
    @include flexbox-direction(column);

    background-image: url('../img/computer.jpg');

    #languages {
        @include flexbox();
        @include flexbox-direction(row);

        ul {
            @include flexbox-container(li);
            padding-left: 0;
            text-align: center;
            width: 100%;
        }
    }
}

#kontakt {
    &.section {
        padding: 0px;
    }

    .parallax {
        a {
            color: $primary-color-text;
            margin: 5px 25px;
            text-decoration: none;
        }

        i {
            transition: all 0.75s;

            &:hover {
                color: $primary-text-color;
                transform: scale(1.25);
            }
        }

        i + small {
            display: block;
            margin-top: 10px;
        }
    }

    footer {
        background-color: $primary-color-dark;
        height: 50px;
        padding: 10px 0;
        text-align: center;
        width: 100%;

        #cookies {
            font-size: 10px;
            line-height: 20px;
        }

        #copy {
            @include anchor-color($primary-color-text);

            font-size: 15px;
            line-height: 15px;
        }
    }
}

/* 6. MEDIA QUERIES */

@media screen and (max-width: 767px) {
    #o-mnie {
        .center-ver#column-content {
            @include flexbox-direction(column);
        }
    }

    #kontakt {
        .center-ver {
            @include flexbox-direction(column);
        }
    }
}

@media screen and (max-width: 499px) {
    .widget-section {
        @include flexbox-direction(column);
    }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
    .widget-section {
        @include flexbox-direction(row);

        .widget {
            flex-basis: 50%;
        }
    }
}

@media screen and (max-width: 991px) {
    .portfolio-container {
        article {
            flex-basis: 100%;
        }
    }
}

@media screen and (min-width: 992px) {
    .portfolio-container {
        article {
            flex-basis: calc(100% / 2 - 20px);
        }
    }
}